.pr_body{
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(37, 38, 45, 1);
    width: 330px;
    height: 520px;
}
.pr_body:hover{
    box-shadow: 2px 1px 30px rgba(173, 216, 230, 0.707);
}


.pr_img{

    margin: 0;
    padding: 0;
}
.main_pic{

    width: 330px;
    height: 300px;
}
.pr_lower{
    /* text-decoration: none; */
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0.5rem;
}

.pr_about_upper{
    /* text-decoration: none; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pr_pic{
    width: 80px;
}

.pau_left{
    /* text-decoration: none; */
    display: flex;
    flex-direction: row;
}
.pau_right{
    /* text-decoration: none; */
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(187, 187, 187, 1);
    font-family: Arial, Helvetica, sans-serif;
}
.location{
    /* text-decoration: none; */
    margin-right: 8px;
    font-size: 15px;
}
.location_icon{

    margin-top: 5px;
    font-size: 20px;
}

.username{
    /* text-decoration: none; */
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.userid{
    /* text-decoration: none; */
    color: rgba(152, 242, 79, 1);
    font-family: Arial, Helvetica, sans-serif;
}
.usrname{
    color:rgba(187, 187, 187, 1) ;
    font-family: Arial, Helvetica, sans-serif;
}

.pr_about_lower{
    margin-top: 15px;
    padding: 13px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(79, 117, 242, 0.067), rgba(79, 223, 242, 0.138));
}

.follower{
    margin-left: 2rem;
    margin-right: 1.3rem;
    display: flex;
    flex-direction: column;
}
.qntt{
    color: rgba(248, 250, 252, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.text{
    margin-top: 5px;
    color: rgba(187, 187, 187, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}