.smallWindowContainer {
    position: relative;
    top: 2rem;
    padding-right: 2rem;
  }

  .filterButton{
    padding: 1rem 3rem;
    display: flex;
    background-color: rgba(79, 222, 242, 0.8);
    outline: none;
    border: none;
    border-radius: 10px;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    cursor: pointer;
  }

  .filterIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .smallWindow {
    position: absolute;
    top: 26rem;
    right: -16.5;
    width: 500px;
    height: 650px;
    transform: translate(-50%, -50%);
    background-color: rgba(37, 38, 45, 1);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 999; 
    display: none; 
  }
  
  .smallWindowContainer.active .smallWindow{
    display: flex; 
    flex-direction: column;
  }

  .pfHead{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    margin: 2rem 0 0 1.5rem;
  }

  .smHandles{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px 1rem 0 12px;
  }

  .smHandlesResp{
    display: none;
  }
  

  .smApp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
    padding: 1rem 1rem;
    border: 1px solid rgba(25, 27, 35, 1);
    border-radius: 10px;
    background-color: rgba(25, 27, 35, 1);
    cursor: pointer;
  }
  .smApp:hover{
    border-color: rgba(152, 242, 79, 1);
  }
  .appIcon{
    padding: 2px 13px;
  }
  .appName{
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
  }

  .sliderBox{
    display: flex;
    flex-direction: column;
    margin: 2rem 1.5rem 0;
  }
  .sliderHead{
    margin-bottom: 1rem;
    color: rgba(187, 187, 187, 1);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .silderQuantity{
    display: flex;
    justify-content: space-between;
  }
  .quant{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
  }
  .sliderReset{
    background-color: inherit;
    outline: none;
    border: none;
    text-decoration: underline;
    color: rgba(187, 187, 187, 1);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
  }
  .silder{
    margin: 1rem 5px 0 0;
    accent-color: rgba(152, 242, 79, 1);
    cursor: pointer;
  }

  .contentTypeBox{
    display: flex;
    flex-direction: column;
    margin: 3rem 1.5rem;
  }

  .typeBox{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .typeName{
    padding: 1.5rem 2.5rem;
    background-color: rgba(25, 27, 35, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    border-radius: 10px;
    border: 1px solid rgba(25, 27, 35, 1);
    cursor: pointer;
  }
  .typeName:hover{
    border-color: rgba(152, 242, 79, 1);
  }
  

@media screen and (max-width: 1050px) {
  .filterButton{
    padding: 1rem 1.5rem;
  }
  .smallWindow{
    right: -14rem;
  }
}
@media screen and (max-width: 730px) {
  .smallWindow{
    width: 300px;
    height: auto;
    right: -7rem;
    top: 22.5rem;
  }
  .smHandles{
    display: none;
  }
  .smHandlesResp{
    display: flex;
  }
  .smApp{
    padding: 7px 2px;
    margin: 1.5rem 14px 0;
  }
  .appIcon{
    padding: 2px 6px;
  }
  .appIconPic{
    width: 30px;
  }
  .typeName{
    padding: 0.8rem 1rem;
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .smallWindow{
    width: 200px;
    top: 18.5rem;
    height: 470px;
  }
  .appIconPic{
    width: 20px;
  }
  .smApp{
    margin: 1.5rem 6px 0;
  }
  .pfHead{
    font-size: 15px;
    margin: 1rem 0 0 1rem;
  }
  .sliderBox{
    margin-left: 1rem;
  }
  .sliderHead{
    font-size: 15px;
    margin-left: 0;
  }
  .quant{
    font-size: 15px;
  }
  .contentTypeBox{
    margin: 2rem 1rem;
  }
  .typeName{
    padding: 0.8rem 10px;
    font-size: 12px;
    margin-bottom: 0;
    margin: 0 2px;
  }

  .filterButton{
    /* margin-top: 2px; */
    padding: 13px 12px;
    font-size: 12px;
  }
  .filterIcon{
    width: 15px;
    height: 12px;
    margin-right: 2px;
    margin-top: 2px;
  }
  .smallWindowContainer{
    padding-right: 0rem;
  }
}
  