body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 1);
  }
  
  .App {
    text-align: center;
  }

  .App_body_upr {
    margin: 0;
    padding: 0;
    background-color: rgba(8, 8, 8, 0.96);
    
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: minmax(0,0.6fr) minmax(0,3.15fr)
  }

  