.creator_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.detailBoxBody{
    display: flex;
    margin: 6rem 5rem 1rem 5rem;
}

.details1{
    display: flex;
    flex-direction: column;
}

.creatorName{
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem 0 1rem 0;
}
.followerPost{
    display: flex;
    color: rgba(79, 222, 242, 1);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

    
}

.postCount{
    padding-left: 3rem;
}

.creatorIntro{
    color: rgba(187, 187, 187, 1);
    font-size: 16px;
    margin: 1rem 0 0 0;
    padding-right: 4rem;
    /* width: 650px; */
}
.buttonBox{
    display: flex;
    margin: 2rem 0 1rem 0;
    align-items: center;
    cursor: pointer;
}
.msgButton{
    display: flex;
    align-items: center;
    padding: 1rem 3rem;
    background-color: rgba(37, 38, 45, 1);
    border-radius: 85px;
    color: rgba(152, 242, 79, 1);
    cursor: pointer;

   
}

.msgIcon{
    font-size: 20px;
 }

 .msgBtn{
     background-color: inherit;
     border: none;
     color: rgba(152, 242, 79, 1);
     font-size: 20px;
     cursor: pointer;
 }

.budgetButton{
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
    padding: 15px 1.9rem;
    background-color: rgba(37, 38, 45, 1);
    border-radius: 85px;

   
}

.moneyIcon{
    width: 30px; 
 }
 .budget{
     color: rgba(255, 222, 0, 1);
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 550;
     margin: 0 10px;
 }
 .btext{
     color: rgba(187, 187, 187, 1);
     font-family: Arial, Helvetica, sans-serif;
 }

.details2{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.prLinks{
    display: flex;
    margin: 1rem 0 1rem 12rem;   
}
.prLinkText{
    color:rgba(152, 242, 79, 1) ;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 1rem;
    
}
.smIcon{
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
    margin: 0 10px;
    cursor: pointer;
}
.vdoBox{
    margin-top: 1rem;
    width: 472px;
    height: 278px;
}
.navbar_window{
    display: none;
}

.menuIcon{
    color: white;
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-right: 2rem;
}
.nav_item{

    color: rgba(255, 255, 255, 1);
    margin: 2px;
    margin-right: 1.5rem;
    margin-top: 10px;
   padding-bottom: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 19px;
}



.nav_item:hover{
    color: rgba(152, 242, 79, 1);
    /* border-bottom: 1px solid rgba(152, 242, 79, 1); */
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgba(152, 242, 79, 1);
}


@media screen and (max-width: 1450px )  {
    .detailBoxBody{
        justify-content: space-between;
        margin:4rem;
    }
    .details1{
        width: 50%;
        margin-right: 3rem;
    }
    .creatorIntro{
        padding-right: 0;
    }

    .navbar_window{
        display: flex;
        /* justify-content: space-between; */
    }
    .menubar_body {
        display: none;
    }
    .menubar_body a{
        text-decoration: none;
    }
    .menuIcon{
        cursor: pointer; 
      }

    .navbar_window.active .menubar_body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        z-index: 998;
        background-color: rgba(37, 38, 45, 1);
        border-radius: 6px;
        padding: 1rem 1.5rem;
        top: 11rem;
        right: 1rem;
        height: 14rem; 
         
    }
    .nav_item{
        margin: 0;
        margin-bottom: 3px;
        background-color: rgb(67, 81, 69);
        padding: 5px 10px;
        border-radius: 6px;
        font-size: 15px;
    }
}
@media screen and (max-width: 1150px ){
     .detailBoxBody{
        flex-wrap: wrap;
        justify-content: center;
     }
     .details1{
        margin: 2rem 0 2rem 0;

        width: auto;
     }
     .buttonBox{
        justify-content: center;
     }
    }

    @media screen and (max-width: 600px ){
        .detailBoxBody{
            margin: 4rem 10px;
            padding: 0 2rem;
        }
        .buttonBox{
            flex-direction: column;
        }
        .msgButton{
            padding: 10px 1rem;
        }
        .msgIcon{
            font-size: 18px;
        }
        .msgBtn{
            font-size: 18px;
        }
        .budgetButton{
            margin-top: 1rem;
            margin-left: 0px;
            padding: 10px 1rem;
        }
        .moneyIcon{
            width: 20px;
        }
        .budget{
            font-size: 16px;
            font-weight: 500;
        }
        .btext{
            font-size: 16px;
        }
        .vdoBox{
            width: 252px; /* Set a width for the container */
            margin: auto;
        }
        .prLinks{
            margin: 1rem 5px;
        }
        .creatorName{
           font-size: 30px; 
        }
        .menuIcon{
            padding-right: 0;
        }
        .menubar_body{
            right: 0;
            
        }
        .navbar_window{
            left: 1rem;
        }
    }