.header_body{

    margin: 2rem;
    margin-top: 4rem;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: white; */
    width: 70rem;
}

.navbar_body{
    align-items: center;
    margin: 2px;
    display: flex;
    flex-direction: row;
}
.navbar_body a{
    text-decoration: none;
}

.nav_item{

    color: rgba(255, 255, 255, 1);
    margin: 2px;
    margin-right: 1.5rem;
    margin-top: 10px;
   padding-bottom: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 19px;
}



.nav_item:hover{
    color: rgba(152, 242, 79, 1);
    /* border-bottom: 1px solid rgba(152, 242, 79, 1); */
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rgba(152, 242, 79, 1);
}

.logoImg:hover{
    cursor: pointer;
}
.signBtn{
    text-decoration: none;
    margin-top: 11px;
}

.navbar_window{
    display: none;
}
.menuIcon{
    color: white;
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-right: 1rem;
}

@media screen and (max-width: 1270px )  {
    .header_body{
        width: 90vw;
        /* justify-content: flex-start; */
    }
    .menuIcon{
        cursor: pointer; 
      }
}

@media screen and (max-width: 730px )  {
    .header_body{
        margin-bottom: 0;
      }
    .navbar_body{
        display: none;
    }

    .navbar_window{
        display: flex;
        justify-content: space-between;
        
        /* background-color: inherit; */
    }

    .menubar_body {
        display: none;
    }
    .menubar_body a{
        text-decoration: none;
    }
    .menuIcon{
        cursor: pointer; 
      }

    .navbar_window.active .menubar_body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        z-index: 998;
        background-color: rgba(37, 38, 45, 1);
        border-radius: 6px;
        padding: 1rem 1.5rem;
        top: 7.3rem;
        right: 2rem;
        height: 14rem; 
         
    }
    .nav_item{
        margin: 0;
        margin-bottom: 3px;
        background-color: rgb(67, 81, 69);
        padding: 5px 10px;
        border-radius: 6px;
        font-size: 15px;
    }
    
    
}

@media screen and (max-width: 500px )  {
      .logoImg{
        padding-left: 0;
      }
      .menuIcon{
        padding-right: 0;
        cursor: pointer; 
      }
     
      .header_body{
        margin: 2rem 1rem;
        width: 80vw;
      }
}
