.profile_body{
    /* text-decoration: none; */
    /* display: flex; */
    margin-top: 2rem;
}

.pr_content{
    /* text-decoration: none; */
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    /* flex-direction: column; */
}
.pr_row{
    
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pr_box{
    margin: 2rem;
    /* margin-right: 2.5rem;
    margin-left: 1rem; */
}

.pr_row a {
    text-decoration: none;
  }
  
.pr_heading{

    margin-left: 5rem;
    color: rgba(152, 242, 79, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

@media screen and (max-width: 1450px) {
    .pr_heading{
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
}