.nav_body{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_body{
    /* margin: 2rem; */
    margin-top: 3rem;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: white; */
    width: 70rem;
}

.nav_items{
    margin: 2px;
    display: flex;
    flex-direction: row;
}

.nav_item{
    color: rgba(255, 255, 255, 1);
    margin: 2px;
    margin-right: 1.5rem;
    margin-top: 10px;
   padding-bottom: 0px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 19px;
}

.nav-item:hover{
    color: rgba(152, 242, 79, 1);
    border-bottom: 1px solid rgba(152, 242, 79, 1);
    cursor: pointer;
}

.logoImg{
    margin-top: 2px;
    width: 8rem;
    height: 3.5rem;
}

.logoImg:hover{
    cursor: pointer;
}