.work_body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work_img{
    display: flex;
    flex-direction: row;
    justify-content: spaceBetween;
}

.w_brImg{
    margin: 0 2rem 3rem 2rem;
    /* width: 832px;
    height: 605px; */
    width: 632px;
    height: 405px;
}
.w_brImg:hover{
    box-shadow: 2px 1px 30px rgba(173, 216, 230, 0.707)
}
@media screen and (max-width: 700px) {
    .w_brImg{
        width: 340px;
        height: 230px;
        margin: 0 5px 2rem 5px;
    }
}
@media screen and (max-width: 350px) {
    .w_brImg{
        width: 250px;
        height: 170px;
    }
}